<ion-header>
  <ion-navbar color="pizarra">
    <ion-title>Regístrate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (submit)="doRegister()" novalidate>
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input  #email formControlName="email" type="email" 
        placeholder="Your email address"
         ></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input  #password formControlName="password" type="password" 
        placeholder="Your password"
        ></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <button color="danger" ion-button block type="submit">
      Regístrarse
    </button>
  </form>
</ion-content>
