// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.











.custom {
  background-color: #fff !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:1px solid;   /*Bottom border for each menu item*/
  border-color: #fff;   /*Sets colors for top and bottom border*/
  color: #004e3b;    /*Text color for each item*/
  font-size: 13px;
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #1F7E94;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

.hide-card {
  -webkit-box-shadow: none!important;
}

.custom-avatar {
  height: 25vw;
  width: 60vw;
  border: 1px solid #fff;
  /*border-radius: 50%;*/
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}



.super {
padding-left: 20px;
padding-top: 5px;
background: url(..assets/image/superman.png) center left no-repeat;
}